<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JSONJoy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>JSONJoyOSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>JSONJoyTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6B3E79B619D355CF006071F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B3E79C119D355CF006071F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D958022D19E6ED8E003C8218</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D958023719E6ED8E003C8218</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
